:root {
  font-family: Roboto;
  --main-color: #FD2B81;
}

html {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-image: linear-gradient(180deg, #FAFAFA 54.17%, #EF98BC 71.87%, #FD2B81 95.31%);
}

body, p {
  margin: 0;
}

.box {
  padding: 0 32px;
}

.el-dialog {
  width: calc(100vw - 20px) !important;
}

.el-dialog__header {
  padding: 32px 32px 0 32px !important;
  margin-right: 0px !important;
}

.el-dialog__body {
  padding: 32px !important;
}

.el-dialog__footer {
  padding: 0px 32px 32px 32px !important;
}